<div class="row">
    <div class=" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
        <h1>Mes commandes</h1>

        <div id="commandList">
            <div class="commande" ng-repeat="command in $ctrl.commands track by $index">


                <h2> <span class="offline-indicator" ng-class="{'offline':command.offline == 'true'}"></span>
                    {{command['title']}}</h2>
                <div class="products">
                    <ul>
                        <li ng-repeat="product in command['details']" data-id="" class="commandItem">
                                                        <a href="{{product['product-url']}}" target="blank">
                                <img ng-src="{{command['details'][$index]['product-image-url']}}">

                                <span>{{product['product-name']}}</span>
                                <span class="badge">{{product['product-quantity']}}</span>
                            </a></li>
                    </ul>
                </div>
                <div class="actions">
                    <button class="btn btn-default" ng-if="command.offline == 'false'">Cancel</button>
                    <button class="btn btn-default" ng-if="command.offline == 'false'">Modify</button>
                </div>
                </li>

            </div>
        </div>
    </div>
    <div class="col-12col-sm-12 col-lg-6 col-xl-4">
        <h1>New commande</h1>
        <form name="newCommandForm" id="newCommandForm">
            <div class="form-group">
                <label for="description" max-length="20">Titre de votre commande</label>
                <input maxlength="20" type="text" ng-model="$ctrl.newCommand.title" class="form-control" id="description"
                    placeholder="Description de votre commande">
            </div>
            <div id="commandes">
                <ul>
                    <li class="commande">                        
                        <div class="products">

                            <ul>
                                <li class="product-item" ng-repeat="product in $ctrl.newCommand.details" data-name="{{product['product-name']}}">
                                        <a href="" target="blank">
                                       

                                    <span>{{product['product-name']}}</span>
                                    <input type="text" ng-model="product['quantity']">
                      <!--  <input type="number" ng-model="$ctrl.newCommand.details[$index].quantity" name="quantity"
                                        min="0" max="100">-->
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </div>
            <button type="reset">Reset</button>
            <button class="btn btn-success" type="submit" ng-click="$ctrl.addCommandSubmit()">Ajouter</button>
        </form>
    </div>
</div>