
*{
    margin:0;
    padding:0;
}
html{
    font-size:14px;
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.pageCommande{
    padding-top:60px;
}
.offlineWrapper{
    position:fixed;
    top:0;
    right:0;
    padding:1rem;

    font-size:1.2rem;
    &.ONLINE{
        color:green;
    }
    &.OFFLINE{
        color:red;
    }
}

header{
    background:#333;
    height:60px;
    .navbar-brand{
        height: 46px;
        width: 143px;
    
        background-image:url("../img/logo.png");
        background-position:center center;
        background-repeat:no-repeat;
        background-size: auto 100%;
    }
}