<div id="loginWrapper" >
    <div class="container">
        <div class="row">
    <div id="formLoginWrapper" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div id="logoWrapper"></div>
      <form>
          <div class="alert alert-error" ng-if="error">error</div>
          <div class="form-group">
          <input placeholder="Your email" type="email" ng-model="user.email">
        </div>
        <button type="button" class="btn btn-primary" ng-click="login()">Sign in</button>
      </form>
    </div>
    <offline-component></offline-component>
</div>
  </div></div>