<!DOCTYPE html>
<html ng-app="SupplyNation">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Supply Nation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="appCtrl">
<login-component ng-if="currentPage != 'command'"></login-component>
<div class="pageCommande"  ng-if="currentPage == 'command'">
<header>
    <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <offline-component></offline-component>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              

         
    
            </div>
          </nav>
</header>
  <div id="mainContainer">
    <div class="container-fluid">
   
          <command-component></command-component>
     
    </div>
  </div>
</div>
</body>

</html>