.commandItem{
    list-style:none;
    a{
        display:block;
    }
    img{
        width:50px;
    
    }
}

.offline-indicator{
    width:10px;
    height:10px;
    border-radius:10px;
    background:green;
    display:inline-block;
    &.offline{
        background:red;
    }
}

.product-item{
    padding:1rem;
    list-style:none;
    > span{
      
    }
}