

#loginWrapper{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:url("../img/bg.jpg");
    background-size:cover;
    .row{
        justify-content: center;
    }
}

#formLoginWrapper{
    height:auto;
    border:1px solid #fff;
    background:rgba(255,255,255,0.3);
    padding:2rem;
   
form{
    text-align: center;
}

#logoWrapper{
    background-image:url("../img/logo.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size: auto 100%;
height:5rem;
margin:0 0 2rem;

}
.form-group{
    margin:0 0 2rem;
    input[type="email"]{
        width:100%;
        border:1px solid #fff;
        background:rgba(255,255,255,0.3);
        font-size:1.2rem;
        color:#fff;
        font-weight:bold;
        padding:0.3rem;
        color:black;
    }
}
}